.error {
color: red;
}


.error input{
    border-color: red;
}
.error select {
    border-color: red;
}
.error input:focus {
    border-color: red;
}
.error input:focus{
    border-color: red;
}

.error textarea{
    border-color: red;
}
.error textarea:focus{
    border-color: red;
}

.input-wrap .help>input[type=text]:focus {
    background: orange
}

.error .errCls>div {
    background: rgb(255, 0, 0);
    margin-top: -5px;
    border-radius: 0 0 5px 5px !important;
    padding: 4px;
    font-size: small;
}
.marginLeft{
    margin-left: 50px;
}